$mainColor: #6f65ff;
$mobile: 630px;

body {
  min-width: 320px;
  background-image: linear-gradient(
    90deg,
    #c9c0ff 0%,
    #c9c6ff 35%,
    #a9b1ff 100%
  );

  &::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(#444cf750 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    z-index: -1;
    animation: move 120s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    transform-origin: center center;
    filter: blur(1px);

    @media (max-width: $mobile) {
      position: static;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto;
      z-index: auto;
      animation: none;
      transform-origin: initial;
      filter: none;
    }
  }

  &::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(#444cf725 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    z-index: -1;
    animation: move2 60s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    transform-origin: center center;
    filter: blur(1px);

    @media (max-width: $mobile) {
      position: static;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto;
      z-index: auto;
      animation: none;
      transform-origin: initial;
      filter: none;
    }
  }

  &,
  select,
  button {
    font-family: 'Poppins', sans-serif;
  }

  &,
  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > main {
    position: relative;
    gap: 50px;
    padding: 50px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px #1e00ff30;
    overflow: hidden;

    @media (max-width: $mobile) {
      justify-content: flex-start;
      width: 100%;
      min-height: 100vh;
      min-height: 100dvh;
      border-radius: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: -300px;
      left: 0;
      width: 100%;
      height: 1030px;
      background-size: contain;
      background-image: url('/images/bg.jpg');
      clip-path: circle(50% at 50% 0);
      z-index: 0;
    }

    & > * {
      width: 100%;
      max-width: 420px;
    }

    & > header {
      position: relative;
      text-align: center;
      z-index: 1;

      img {
        width: 90px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 0 10px #00000075;
      }

      h1 {
        font-size: 24px;
        font-weight: 600;
        color: #5747ff;
      }

      small {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 300;
        color: #717484;

        a {
          border-bottom: 1px solid #cac5ff;

          &:hover {
            border-color: #5747ff;
          }
        }
      }
    }

    & > nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        color: #6f84ff;

        svg, img {
          width: 24px;
        }
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        padding: 12px;
        border: 1px solid #e8e9f1;
        border-radius: 15px;
        background-color: #fff;
        cursor: pointer;
        transition: border-color ease 0.3s, color ease 0.3s;

        img {
          width: 50px;
        }

        p {
          strong {
            font-size: 16px;
            font-weight: 500;
          }

          span {
            font-size: 14px;
            font-weight: 300;
            color: #717484;
            margin-top: 2.5px;
            transition: color ease 0.3s;
          }
        }

        svg {
          width: 20px;
          min-width: 20px;
          color: $mainColor;
        }

        &:hover {
          border-color: $mainColor;
          color: $mainColor;

          span {
            color: $mainColor;
          }
        }

        & + a {
          margin-top: 10px;
        }
      }
    }

    & > small {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;

        img {
          width: 28px;
        }

        span {
          border-bottom: 1px solid #cac5ff;
          color: #a79fff;
          transition: border-color ease 0.3s, color ease 0.3s;
        }

        &:hover {
          span {
            color: $mainColor;
            border-color: $mainColor;
          }
        }
      }
    }
  }
}

@keyframes move {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes move2 {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
