@use '../global/mixins' as *;

.article-reactions {
  margin: 20px 0;

  .reactions-wrapper {
    @include flex(row, center, flex-start, wrap);
    gap: 15px;

    @media (max-width: 630px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    strong {
      font-size: 16px;
      font-weight: 600;
      color: var(--card-footer-color);
    }

    .reactions-buttons {
      @include flex(row, center);
      gap: 8px;

      button {
        font-size: 24px;
        padding: 8px;
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--card-background-color);
        cursor: pointer;
        transition:
          transform ease 0.2s,
          border-color ease 0.2s,
          background-color ease 0.2s;

        &:hover {
          transform: scale(1.1);
          border-color: var(--ifm-color-primary-light);
        }

        &.active {
          border-color: var(--ifm-color-primary);
          background-color: var(--ifm-color-primary-lightest);
          transform: scale(1.1);

          &:hover {
            border-color: var(--ifm-color-primary);
          }
        }
      }
    }
  }
}
