@use '../global/mixins' as *;

@keyframes scroll-places {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 17.5px));
  }
}

.places {
  display: block;
  width: 100%;
  max-width: 1020px;
  margin-top: 5px;
  overflow: hidden;

  .places-track {
    @include flex(row, center, flex-start);
    gap: 35px;
    width: max-content;
    animation: 20s scroll-places 0.5s linear infinite;
  }

  .places-set {
    @include flex(row, center, flex-start);
    gap: 35px;
    flex-shrink: 0;
  }

  .places-track:hover {
    animation-play-state: paused;
  }

  .place {
    position: relative;
    transition: transform 0.15s;
    flex-shrink: 0;

    img {
      filter: contrast(0.1) sepia(1) hue-rotate(200deg) saturate(3);
      transition: filter 0.25s;
    }

    &:hover {
      transform: scale(0.95);

      img {
        filter: contrast(1) sepia(0) hue-rotate(0deg) saturate(1);
      }
    }
  }

  + footer {
    @include flex(row, center, flex-start);
    width: 100%;
    max-width: 1020px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #9094ff;
  }
}
