@use '../global/mixins' as *;

%page {
  padding: 20px;
  padding-bottom: 10px;

  @media (max-width: 630px) {
    padding: 0;
  }

  p,
  ul {
    margin: 0;
    font-size: 14px;
  }

  blockquote {
    &,
    p {
      font-size: 13px;
    }
  }

  &,
  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  & > main {
    position: relative;
    gap: 20px;
    padding: 40px;
    padding-top: 10px;

    @media (max-width: 630px) {
      justify-content: flex-start;
      width: 100%;
      padding-inline: 25px;
      border-radius: 0;
    }

    & > header {
      @include flex(row, flex-end, space-between, wrap);

      h1 {
        font-family: var(--ifm-font-family-featured);
        color: #423d8f;
        border-bottom: 5px solid #9b94fa;
      }

      img {
        height: 128px;
      }

      small {
        display: block;
        min-width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: #625da4;
      }
    }

    & > * {
      width: 100%;
      max-width: 1020px;
    }

    nav {
      padding: 25px 50px;
      border-radius: 15px;
      border: 1px solid #d7dcff;
      background-color: #ffffff6a;

      @media (max-width: 630px) {
        padding: 25px;
      }

      &,
      & > main > section,
      & > section {
        & ~ *,
        p ~ * {
          margin-top: 12.5px;
        }

        hr {
          margin: 20px 0;
        }

        h2 {
          font-size: 20px;
          font-weight: 600;
          color: #3f3996;
          margin-bottom: 10px;

          & ~ h2 {
            margin-top: 20px;
          }
        }

        & > p,
        & > ul,
        & > div.container {
          color: #655ebf;

          a {
            font-weight: 600;

            &:hover {
              color: #3f3996;
            }
          }
        }

        .container {
          overflow-x: auto;
          padding: 0;

          table {
            min-width: 540px;

            thead {
              tr {
                border-bottom: inherit;
                border-color: #d7dcff;
              }

              th {
                border-color: #a9b1df;
              }
            }

            td,
            th {
              img {
                transform: translateY(3px);

                + span,
                + p {
                  padding-left: 5px;
                }
              }

              &,
              p {
                font-size: 12.5px;
              }

              & > * {
                margin: 0 !important;
                display: inline-block;
              }
            }
          }
        }

        p,
        & > a {
          display: block;
        }

        & > img {
          border-radius: 10px;
          box-shadow: 2.5px 2.5px 5px #22213d56;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        & > footer {
          margin-top: 20px;
          width: max-content;

          a {
            @include flex(row, center, flex-start);
            gap: 10px;
            padding: 10px 20px;
            border-radius: 7.5px;
            background-color: #6f65ff;
            color: #b5b0fb;
            transition: background-color 0.15s;

            p {
              font-size: 12px;
              color: #edecfa;
            }

            svg {
              min-width: 24px;
              min-height: 24px;
              transition: stroke 0.15s;
            }

            &:hover {
              background-color: #493eea;

              & > svg {
                stroke: #ff6bb0;
              }
            }
          }
        }

        & + section {
          margin-top: 40px;
        }
      }

      + nav {
        margin-top: 0;
      }
    }
  }
}

// %dark-page {
//   & > main {
//     nav {
//       border-color: #17103c;
//       background-color: #0000006a;

//       h2 {
//         color: #7265ff;
//       }

//       p {
//         color: #beb8ff;
//       }

//       & > section {
//         & > footer {
//           a {
//             background-color: #493eea;
//             color: #847cf6;

//             p {
//               color: #c1bdff;
//             }

//             &:hover {
//               background-color: #6f65ff;
//             }
//           }
//         }
//       }
//     }
//   }
// }
