@use '../global/mixins' as *;

#home {
  padding: 0 20px;
  margin-bottom: 0;
  transform: translateY(-5px);

  @media (max-width: 630px) {
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  &,
  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  & > main {
    position: relative;
    gap: 40px;
    padding: 40px;
    padding-top: 30px;

    @media (max-width: 630px) {
      justify-content: flex-start;
      padding-inline: 25px;
      width: 100%;
      border-radius: 0;
    }

    & > * {
      width: 100%;
      max-width: 480px;
    }

    & > header {
      position: relative;
      z-index: 1;
      @include flex(column, center, flex-start);
      width: 100%;
      text-align: center;

      & > div {
        position: relative;
        z-index: -1;
        border-radius: 50%;
        overflow: hidden;
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
        border: 4.5px solid var(--avatar-border-color);
        box-shadow: 0 0 10px var(--avatar-shadow-color);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          pointer-events: none;
        }
      }

      h1 {
        margin: 0 !important;
        font-family: var(--ifm-font-family-featured);
        font-size: 26px;
        font-weight: 800;
        color: var(--title-color-1);
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        span {
          transition: color ease 0.5s;
          animation: colorChange 5s ease-in-out infinite;
          animation-delay: calc(var(--index) * 0.2s);
          cursor: default;
        }
      }

      small {
        margin-top: 7.5px;
        font-size: 13px;
        font-weight: 400;
        color: var(--headline-color);
        letter-spacing: 0.25px;
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        & > p {
          margin: 0;
        }
      }

      nav {
        position: relative;
        @include flex(row, center, center, wrap);
        gap: 15px;
        width: 100%;
        margin-top: 30px;

        a {
          transition:
            transform 0.25s ease,
            filter 0.15s;

          &::after {
            content: '';
            position: absolute;
            top: -17.5px;
            left: 7.5px;
            width: 0;
            height: 0;
            border-left: 7.5px solid transparent;
            border-right: 7.5px solid transparent;
            border-top: 7.5px solid var(--social-popup-pointer-color);
            border-bottom: 0;
            opacity: 0;
            display: none;
            pointer-events: none;
          }

          + .description {
            position: absolute;
            z-index: 3;
            top: -150px;
            @include flex(column, center, center);
            gap: 10px;
            padding: 15px;
            height: 130px;
            min-width: 100%;
            border-radius: 15px;
            border: 1px dotted var(--social-popup-border-color);
            box-shadow: 0 0 25px var(--social-popup-shadow-color);
            font-size: 13px;
            background-color: var(--social-popup-background-color);
            color: var(--social-popup-color);
            transform: scale(0);
            opacity: 0;
            transition:
              opacity 0.3s ease,
              transform 0.2s cubic-bezier(0.75, -0.5, 0.2, 0.9);
            pointer-events: none;

            & > h3 {
              @include flex(row, center, center);
              gap: 5px;
              margin-bottom: 0;
              font-size: 14px;
              font-weight: 600;

              img {
                width: 18px;
              }
            }
          }

          img {
            height: 32px;
          }

          &:hover {
            position: unset !important;
            transform: scale(1.1);
            filter: saturate(2);

            &::after {
              display: block;
              animation: showIn 0.35s cubic-bezier(0.75, -0.5, 0.2, 0.9)
                forwards;
            }

            + .description {
              opacity: 0.975;
              transform: scale(1);
            }
          }
        }
      }

      menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0;
        padding: 0;
        margin-top: 30px;

        section {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          margin: 0;
          padding: 0;

          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
            min-width: 160px;
            padding: 10px 15px;
            border: 1px solid var(--menu-home-border-color);
            border-radius: 15px;
            background-color: var(--menu-home-background-color);
            font-size: 14px;
            font-weight: 600;
            color: var(--menu-home-color);
            cursor: pointer;
            transition:
              gap ease 0.25s,
              background-color ease 0.25s,
              border-color ease 0.5s,
              color ease 0.5s;

            &:nth-child(odd) {
              flex-direction: row-reverse;
            }

            svg {
              width: 16px;
              transition: color ease 0.5s;
              color: var(--menu-home-icon-color);
            }

            &:hover {
              gap: 10px;
              border-color: var(--menu-home-border-hover-color);
              color: var(--menu-home-hover-color);
              background-color: var(--menu-home-background-hover-color);

              span {
                color: var(--menu-home-hover-color);
              }

              svg {
                color: var(--menu-home-icon-hover-color);
              }
            }
          }
        }
      }
    }

    & > nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 7.5px;
      width: 100%;

      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        color: var(--highlights-color);

        svg,
        img {
          width: 24px;
        }
      }

      a {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding: 12px 20px;
        border: 1px solid var(--card-border-color);
        border-radius: 15px;
        background-color: var(--card-background-color);
        cursor: pointer;
        transition:
          background-color ease 0.25s,
          border-color ease 0.5s,
          color ease 0.5s;
        padding-right: 60px;

        @media (max-width: 630px) {
          flex-wrap: wrap;
          padding-right: 20px;
        }

        img {
          width: 50px;
          transition: transform ease 0.3s;

          @media (max-width: 630px) {
            width: 36px;
            transform: translateY(6px);
          }
        }

        & > div {
          margin-bottom: 0 !important;
          color: var(--card-title-color);
          transition: transform 0.15s;

          strong {
            font-size: 15px;
            font-weight: 600;
            transition: color ease 0.5s;
          }

          span {
            p {
              font-size: 12.5px;
              font-weight: 300;
              color: var(--card-description-color);
              transition: color ease 0.3s;
              margin-bottom: 0;

              strong {
                color: var(--card-description-strong-color);
                font-size: 12.5px;
                font-weight: 500;
              }
            }
          }
        }

        svg {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 20px;
          min-width: 20px;
          color: var(--ifm-color-main);
          transition: transform ease 0.25s;
        }

        &:hover {
          border-color: var(--card-border-hover-color);
          color: var(--card-title-hover-color);
          background-color: var(--card-background-hover-color);

          & > div {
            transform: scale(0.997);
          }

          img {
            transform: scale(1.05);

            @media (max-width: 630px) {
              transform: scale(1.05) translateY(6px);
            }
          }

          svg {
            transform: scale(1.1);

            @media (max-width: 630px) {
              margin-top: 0;
            }
          }

          span {
            &,
            strong {
              color: var(--ifm-color-main);
            }
          }
        }

        & + a {
          margin-top: 10px;
        }
      }

      & > small {
        width: 100%;

        a {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 5px;
          width: 100%;
          padding: 0;
          padding-top: 5px;
          padding-right: 2.5px;
          margin: 0 !important;
          border: none;
          background-color: unset;
          text-align: right;
          font-weight: 500;
          color: var(--see-more-color);

          svg {
            position: static;
            width: 16px;
            height: 16px;
            color: var(--see-more-icon-color);
          }

          &:hover {
            border: none;
            background-color: unset;
            color: var(--see-more-hover-color);

            svg {
              transform: translateX(2.5px);
              color: var(--see-more-icon-hover-color);
            }
          }
        }
      }
    }
  }
}

.navbar-sidebar--show .navbar-sidebar {
  height: 100vh;
  height: 100dvh;
}

// [data-theme='dark'] {
//   #home {
//     & > main {
//       & > header {

//         small {
//           color: #57619e;

//           a {
//             border-color: #5747ff;
//             color: #57619e;

//             &:hover {
//               border-color: #dd47ff;
//             }
//           }
//         }

//         menu {
//           section {
//             a {
//               border-color: #17103c;
//               background-color: #0000006a;

//               &:hover {
//                 border-color: #32409f;
//               }
//             }
//           }
//         }
//       }

//       nav {
//         a {
//           border-color: #17103c;
//           background-color: #0000006a;

//           p {
//             strong {
//               color: #a299ff;
//             }

//             span {
//               color: #beb8ff;
//             }
//           }

//           &:hover {
//             border-color: #272167;
//           }
//         }

//         & > small {
//           a {
//             background-color: unset;
//           }
//         }
//       }
//     }
//   }
// }
