hr {
  background-color: var(--ifm-blockquote-border-color);
}

blockquote {
  &,
  p {
    font-size: 13px;
    color: #655ebf;
  }
}

.theme-admonition {
  &,
  p,
  li {
    font-size: 13px !important;
  }

  a {
    color: inherit;
  }

  &.alert--success {
    --ifm-alert-background-color: #ecebff;
    --ifm-alert-border-color: #8a7fff;
  }

  &.alert--info {
    --ifm-alert-background-color: #f2f7ff;
    --ifm-alert-border-color: #5599ff;
  }

  &.alert--secondary {
    --ifm-alert-background-color: #f0f2ff;
    --ifm-alert-border-color: #5d72ff;
  }

  &.alert--danger {
    --ifm-alert-background-color: #ffd0dd;
    --ifm-alert-border-color: #ff0043;
  }
}

p {
  & > code {
    display: inline-block;
    background-color: #ebebff;
    border: 0.5px solid #b2b2db;
    padding: 0.5px 6px;
    font-weight: 600;
    transform: translateY(-1.5px);
  }
}

// [data-theme='dark'] {
//   .theme-admonition {
//     p {
//       & > code {
//         background-color: rgba(255, 255, 255, 0.1);
//         border: none;
//         padding-inline: 5px;
//         font-weight: 600;
//       }
//     }

//     pre {
//       code {
//         background-color: #14161f;
//       }
//     }

//     &.alert--success {
//       --ifm-alert-background-color: #7230d6;
//       --ifm-alert-border-color: #b27fff;
//     }

//     &.alert--info {
//       --ifm-alert-background-color: #2c2f44;
//       --ifm-alert-border-color: #656b94;
//     }

//     &.alert--secondary {
//       --ifm-alert-background-color: #292e55;
//       --ifm-alert-border-color: #5d72ff;
//     }

//     &.alert--danger {
//       --ifm-alert-background-color: #540218;
//       --ifm-alert-border-color: #ff0043;
//     }
//   }
// }
