@keyframes colorChange {
  0% {
    color: #5747ff;
  }

  50% {
    color: #278cff;
  }

  100% {
    color: #5747ff;
  }
}

@keyframes showIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animate-bg {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(80deg);
  }
  40% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(120deg);
  }
  80% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
